
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --homeBackground: #E6E8E9;
    --orange: #FF6600;
    --blue:#006299;
    --orangeHover: #de5900;
}


body{

    font-family: Rubik;
    
}

h1{
    font-weight: 700;
}

/* ------------------------------------------------------------ HOME ------------------------------------------------------------*/



#home{
    z-index: -1;
    background-image: url(./assets/backgroundW27.svg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0%, 100% 0%, 100% 81%, 0% 100%);
    background-position:center;
    background-color: var(--homeBackground);
    padding-top:6rem ;
    height: 95vh;

}

#home .row{
    
    height: 85vh;
}

#home img{
    display: none;
}

#home h1{
    color: black;
    font-size: 63px;
    line-height: 65px;
    margin: 0px 0px 95px 0px;
}

#home h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: black;

}

#home ul{
    list-style: none;
    margin-left: -30px;
}

#home li{

    color: black;
    margin: 22px 0px 22px 0px;
}


#home #tel{
    height: 35px;
    background-image: url(./assets/telephone.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
}

#home #wpp{
    height: 35px;
    background-image: url(./assets/wpp.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
}

#home #pc{
    height: 35px;
    background-image: url(./assets/pc.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
}
/* ------------------------------------------------------------ HOME2 ------------------------------------------------------------*/


#home2{
    background-color: white;
    height: 75vh;
    margin-bottom: 5em;
}
#home2 .row{
    height: inherit;
}
#home2 .col{
    height: inherit;
}

#home2 p{
font-weight: 400;
font-size: 16px;
line-height: 24px;

}


#home2 .turnos{
    margin-top: 27px;
    width: 245px;
}



@media (max-width: 991px) {

    #home{
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
        background: var(--homeBackground);
        padding-top:6rem ;
        height: auto;

    }
    #home img{
        width: 100%;
        display: block;
    }
    #home h1{
        font-size: 60px;
    }
    #home2{
        height: auto;
        margin-bottom: 18rem;
    }

    #home2 iframe{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #home2 p{
        width: 339px;
    }
}

